/* Width at 980px desktop*/
@media screen and (max-width: 980px) {  
  body {
    font-size: 16px;
    line-height: 32px;
  }
  
  /* general */
  .container {
    width: 90%;
  }
  
  h1 {
    padding-bottom: 20px;
    font-size: 28px;
    line-height: 46px;
  }
  
  /* header */
  #logo {
    height: 80px;
    font-size: 28px;
    line-height: 80px;
  }
  
  /* main */
  .main-section {
    width: 70%;
    margin: 0 0 250px;
  }
}



/* Width at 768px ipad */
@media screen and (max-width: 768px) {




  
}








/* Width at 640px phone */
@media screen and (max-width: 640px) {

}